body {
  background-color: rgb(190, 13, 13);
  text-align: center;
}

button {
  background-color: teal;
}

ul {
    padding: 5px;
    margin: 5px;
    background: thistle;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    background: thistle;
  }
  
  .form-group {
    margin-bottom: 5px;
  }